@import url(//db.onlinewebfonts.com/c/d8a28611cf5f5d635071f2d90d9e9cc8?family=Sk-Modernist);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sk-Modernist';
    color: #fff;
}

html, 
body{
    overflow-x: hidden;
    background: #0a0a0a;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.wrapper .container{
    width: 96%;
    margin: 0px auto;
}

.divider{
    width: 100%;
    height: 2px;
    background: #fff;
}

.whitespace{
    width: 100%;
    height: 80px;
}

.navbar .navbar-container{
    display: flex;
    padding: 12px 0;
    font-size: 16 px;
    justify-content: space-between;
}

.navbar .navbar-container .site-welcome1{
    flex-grow: 1;
}


.navbar .navbar-container .site-farewell{
    flex-grow: 2;
    text-align: right;
}

.header{
    margin: 80px 0;
    z-index: 2 !important;
}

.header .header-container h1{
    font-family: 'Sk-Modernist';
    font-size: 120px;
}

@media(max-width: 900px){
    .header .header-container h1{
        font-size: 5.4rem;
    }
}

.profile-pic{
    width: 100%;
    margin-top: -300px;
}

.profile-pic::after{
    content: "";
    display: table;
    clear: both;
}

.profile-pic .profile-pic-container{
    width: 40%;
    float: right;
}

.profile-pic .profile-pic-container img{
    width: 100%;
}
@media(max-width: 900px){
    .profile-pic{
        margin-top: 40px
    }
    .profile-pic .profile-pic-container{
        width: 100%;
    }
}

.section-header .section-header-container{
    display: flex;
    padding: 12px 0;
    font-size: 16px;
    justify-content: space-between;
}

.about{
    width: 100%;
}

.about::after{
    content: "";
    display: table;
    clear: both;
}

.about .about-container{
    width: 70%;
    float: right;
}

.about .about-container p{
    margin: 40px 0;
    font-size: 36px;
}

@media(max-width: 900px){
    .about .about-container{
        width: 100%;
    }
    .about .about-container p{
        font-size: 24px;
    }
}

.menu_item{
    position: relative;
    padding: 0 6vw;
}

.menu_item-link{
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-text-stroke: 1.5px #ffff;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: opacity 0.4s
}

.menu_item-link::before{
    all: initial;
    font-family: 'Sk-Modernist';
    counter-increment: menu;
    position: absolute;
    bottom: 60%;
    pointer-events: none;
}
.menu_item-link:hover{
    transition-duration: 0.1s;
    opacity: 0;
}
.menu_item-img{
    pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu_item-link:hover + .menu_item-img{
    opacity: 1;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
    transition: all 0.4s;
}

.menu{
    padding: 10vh 0 25vh;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    font-size: 7vw;
}

.marquee{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #fff;
    pointer-events: none;
    mix-blend-mode: difference;
}

.marquee__inner{
    width: fit-content;
    display: flex;
    position: relative;
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.1s;
}

.menu_item-link:hover ~ .marquee .marquee__inner{
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.menu_item-link,
.marquee span{
    white-space: nowrap;
    font-size: 7vw;
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.20;
}

.marquee span{
    font-style: italic;
}

@keyframes marquee{
    0%{
        transform: translate3d(var(--move-initial),0,0);
    }
    100%{
        transform: translate3d(var(--move-final),0,0);
    }
}

.clients .clients-container{
    font-family: 'Sk-Modernist';
    font-size: 80px;
    line-height: 100px;
}
.clients .clients-container .thoughts{
    width: 30%;
    display: bloc;
    margin: 0px auto;
}
@media(max-width:900px){
    .clients .clients-container p{
        font-size: 36px;
        line-height: 50px;
        text-align: justify;
    }
}

.socials{
    padding: 20px 0;
}

.socials .socials-container{
    display: flex;
    justify-content: space-between;
}

.socials .socials-container a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Sk-Modernist' !important;
    font-size: 64px;
}

@media(max-wdith: 900px){
    .socials .socials-container a{
        font-size: 30px;
    }
}